.container {
  margin-bottom: 40px;
}

a {
  color: rgb(217, 217, 217);
  text-decoration: none;
}

nav {
  width: 100%;
  background-color: rgb(0, 0, 39);
  padding: 15px;

  font-size: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: red;
} */
